<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
   version="3.0">
   <display-name>eID-Democlient</display-name>
   
   <servlet>
      <servlet-name>NewRequesterServlet</servlet-name>
      <servlet-class>NewRequesterServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>NewRequesterServlet</servlet-name>
      <url-pattern>/NewRequesterServlet</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>NewReceiverServlet</servlet-name>
      <servlet-class>NewReceiverServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>NewReceiverServlet</servlet-name>
      <url-pattern>/NewReceiverServlet</url-pattern>
   </servlet-mapping>

   <welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
   </welcome-file-list>
</web-app>
